<!-- Toolbar -->
<header class="sticky-top">
  <nav class="navbar nav-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <button href="#" class="navbar-toggler d-lg-none border-dark mx-2" data-toggle="collapse" data-target="#navbarToolbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a routerLink="/" class="navbar-brand mr-auto">
        <img src="assets/img/sun.png" width="50" height="50" alt="" class="mr-2">
        <span class="d-none d-md-inline h4">Antares</span>
      </a>
      <form action="" class="d-none d-md-inline">
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </div>
      </form>
      <ul class="nav nav-pills justify-content-end navbar-dark">
        <li class="nav-item d-md-none mx-2">
          <a href="#"><i class="far fa-search fa-lg text-dark"></i></a>
        </li>
        <li class="nav-item mx-2">
          <a routerLink="wish"><i class="far fa-heart fa-lg text-dark"></i></a>
        </li>
        <li class="nav-item mx-2">
          <a routerLink="/cart"><i class="far fa-shopping-bag fa-lg text-dark"></i></a>
        </li>
        <li class="nav-item mx-2">
          <a routerLink="/auth" *ngIf="!(isAuth$ | async).isAuthenticated"><i class="far fa-user fa-lg text-dark"></i></a>
          <a (click)="onLogout()" *ngIf="(isAuth$ | async).isAuthenticated"><i class="far fa-sign-out fa-lg text-dark"></i></a>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="navbarToolbar">
        <ul class="navbar-nav">
          <li class="nav-item"><a href="#" class="nav-link">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="card">
                      <img src="assets/img/nav_bar_women.jpg" alt="" class="card-img-top">
                      <div class="card-body">
                        <h5 class="card-title text-center">Women</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="assets/img/nav_bar_men.jpg" alt="" class="card-img-top">
                      <div class="card-body">
                        <h5 class="card-title text-center">Men</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </a></li>

          <!-- <li class="nav-item d-sm-none"><a href="#" class="nav-link"><i class="far fa-heart"></i></a></li>
						<li class="nav-item d-sm-none"><a href="#" class="nav-link"><i class="far fa-shopping-bag"></i></a></li> -->
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-dark bg-primary d-none d-lg-flex">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Men</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Women</a>
      </li>
    </ul>
  </nav>
</header>
<!-- Eof Toolbar -->