<section>
  <div class="container">
    <div class="card m-2">
      <div class="card-body">
        <div class="row p-5">
          <div class="col-xs-12 col-lg-4">
            <a href="/clothing/s048-1104-020_black.html">
              <img class="img-responsive basket_image" src="https://r8zlusvr.rocketcdn.com/images/ac_product_images/product_image_data/resizeandpad:150:225/249994.jpg"
                alt="img">
            </a>
          </div>

          <div class="col-xs-12 col-lg-8">
            <a class="h3">FloralCrepe Wrap Belted Jumpsuit</a>
            <!-- Color -->
            <div class="mt-2">
              <span class="d-inline bg-primary text-white p-2">Color</span>
              <span class="p-2">BLACK</span>
            </div>
            <!-- Eof Color -->
            <!-- Size -->
            <div class="mt-3">
              <span class="d-inline bg-primary text-white p-2">Size</span>
              <span class="p-2">10</span>
            </div>
            <!-- Eof Size -->
            <!-- Quantity -->
            <div class="mt-2">
              <span class="d-inline bg-primary text-white p-2">Quantity</span>
              <input type="number" class="form-control d-inline text-center" placeholder="" value="1" min="1" max="100"
                style="width: 70px;">
            </div>
            <!-- Eof Quantity -->
            <hr>
            <!-- Price -->
            <div class="mt-2">
              <span class="d-inline bg-info text-white p-2">Price</span>
              <span class="ml-2 font-weight-bold text-danger">$100</span>
            </div>
            <!-- Eof Price -->
            <!-- Remove -->
            <div class="mt-2 text-right">
              <button class="ml-4 btn btn-outline-info p-2"><i class="far fa-trash fa-lg"></i></button>
            </div>
            <!-- Eof Remove -->
          </div>
        </div> <!-- Eof div.row -->
      </div>
    </div>
  </div> <!-- Eof div.container -->
  <button class="btn btn-success btn-block w-50 mt-5 mx-auto p-3">PAY NOW</button>
</section>