<section>
  <div class="container p-5 flex-wrap d-flex">
    <div class="card w-25 m-2">
      <img src="https://r8zlusvr.rocketcdn.com/images/ac_product_images/product_image_data/resizeandpad:150:225/249994.jpg"
        width="100%" alt="">
      <div class="wish-x-button">
        <button class="btn btn-outline-danger"><i class="far fa-times"></i></button>
      </div>
      <div class="card-footer bg-white">
        <div class="text-center text-monospace">this is a title</div>
        <div class="text-center font-weight-bold h6">$100</div>
      </div>
    </div>

    <div class="card w-25 m-2">
      <img src="https://r8zlusvr.rocketcdn.com/images/ac_product_images/product_image_data/resizeandpad:150:225/249994.jpg"
        width="100%" alt="">
      <div style="position: absolute; left:0; top:0; opacity: 0.5;">
        <button class="btn btn-outline-danger"><i class="far fa-times"></i></button>
      </div>
      <div class="card-footer bg-white">
        <div class="text-center text-monospace">this is a title</div>
        <div class="text-center font-weight-bold h6">$100</div>
      </div>
    </div>

    <div class="card w-25 m-2">
      <img src="https://r8zlusvr.rocketcdn.com/images/ac_product_images/product_image_data/resizeandpad:150:225/249994.jpg"
        width="100%" alt="">
      <div style="position: absolute; left:0; top:0; opacity: 0.5;">
        <button class="btn btn-outline-danger"><i class="far fa-times"></i></button>
      </div>
      <div class="card-footer bg-white">
        <div class="text-center text-monospace">this is a title</div>
        <div class="text-center font-weight-bold h6">$100</div>
      </div>
    </div>

    <div class="card w-25 m-2">
      <img src="https://r8zlusvr.rocketcdn.com/images/ac_product_images/product_image_data/resizeandpad:150:225/249994.jpg"
        width="100%" alt="">
      <div style="position: absolute; left:0; top:0; opacity: 0.5;">
        <button class="btn btn-outline-danger"><i class="far fa-times"></i></button>
      </div>
      <div class="card-footer bg-white">
        <div class="text-center text-monospace">this is a title</div>
        <div class="text-center font-weight-bold h6">$100</div>
      </div>
    </div>

    <div class="card w-25 m-2">
      <img src="https://r8zlusvr.rocketcdn.com/images/ac_product_images/product_image_data/resizeandpad:150:225/249994.jpg"
        width="100%" alt="">
      <div style="position: absolute; left:0; top:0; opacity: 0.5;">
        <button class="btn btn-outline-danger"><i class="far fa-times"></i></button>
      </div>
      <div class="card-footer bg-white">
        <div class="text-center text-monospace">this is a title</div>
        <div class="text-center font-weight-bold h6">$100</div>
      </div>
    </div>

    <div class="card w-25 m-2">
      <img src="https://r8zlusvr.rocketcdn.com/images/ac_product_images/product_image_data/resizeandpad:150:225/249994.jpg"
        width="100%" alt="">
      <div style="position: absolute; left:0; top:0; opacity: 0.5;">
        <button class="btn btn-outline-danger"><i class="far fa-times"></i></button>
      </div>
      <div class="card-footer bg-white">
        <div class="text-center text-monospace">this is a title</div>
        <div class="text-center font-weight-bold h6">$100</div>
      </div>
    </div>

    <div class="card w-25 m-2">
      <img src="https://r8zlusvr.rocketcdn.com/images/ac_product_images/product_image_data/resizeandpad:150:225/249994.jpg"
        width="100%" alt="">
      <div style="position: absolute; left:0; top:0; opacity: 0.5;">
        <button class="btn btn-outline-danger"><i class="far fa-times"></i></button>
      </div>
      <div class="card-footer bg-white">
        <div class="text-center text-monospace">this is a title</div>
        <div class="text-center font-weight-bold h6">$100</div>
      </div>
    </div>

    <div class="card w-25 m-2">
      <img src="https://r8zlusvr.rocketcdn.com/images/ac_product_images/product_image_data/resizeandpad:150:225/249994.jpg"
        width="100%" alt="">
      <div style="position: absolute; left:0; top:0; opacity: 0.5;">
        <button class="btn btn-outline-danger"><i class="far fa-times"></i></button>
      </div>
      <div class="card-footer bg-white">
        <div class="text-center text-monospace">this is a title</div>
        <div class="text-center font-weight-bold h6">$100</div>
      </div>
    </div>
  </div>

</section>