<section id="cloth" class="mt-3">
  <div class="container-fluid">
    <div class="row">

      <!-- Filter -->
      <app-filter class="col-sm-12 col-lg-3"></app-filter>
      <!-- Eof Filter -->

      <div class="col-sm-12 col-lg-9">
        <!-- Pagination -->
        <div class="pagination-lg-fixed-top">
          <ul class="nav nav-pills justify-content-between">
            <li class="nav-item bg-light  d-none d-lg-flex">
              <div ngbDropdown class="dropdown">
                <button ngbDropdownToggle class="btn btn-outline-primary dropdown-toggle w-100 nav-link" data-toggle="dropdown">Relevance</button>
                <div ngbDropdownMenu class="dropdown-menu">
                  <a href="#" class="dropdown-item">Latest</a>
                  <a href="#" class="dropdown-item">Price - low to high</a>
                  <a href="#" class="dropdown-item">Price - high to low</a>
                </div>
              </div>
            </li>
            <li class="nav-item bg-light d-none d-lg-flex">
              <form class="form-inline">
                <label class="mx-1" for="viewSelect">View</label>
                <select class="custom-select" id="viewSelect">
                  <option *ngFor="let size of viewSizes();" value="size">{{ size }}</option>
                </select>
        
                <button class="btn btn-ouline-primary rounded-circle mx-1">&#x2190;</button>
                <select class="custom-select mx-1" id="viewSelect">
                  <option value="1" selected>Page 1</option>
                  <option value="2">Page 2</option>
                </select>
                <span>of 2</span>
                <button class="btn btn-ouline-primary rounded-circle mx-1">&#x2192;</button>
              </form>
            </li>
          </ul>
        </div>
        <!-- Eof Pagination -->
        <!-- Cloth -->
        <div class="cloth-row row justify-content-around mt-50" *ngFor="let product of (products$ | async).products">
          <div class="cloth-col col-lg-3 col-sm-4 px-0">
            <div class="card">
              <img class="card-img" src="{{ product.photos[0] }}" alt="Card image">
              <div class="card-img-overlay">
                <div class="row">
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-left">
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                  <div class="col-6 bg-white d-flex align-items-center justify-content-center">
                    <span class="cloth-price">Price ${{ product.price }}</span>
                  </div>
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-right">
                      <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Eof Cloth -->
      </div>
    </div>
  </div>


</section>
