<section id="cloth" class="mt-3">
  <div class="container-fluid">
    <div class="row">

      <!-- Filter -->
      <app-filter class="col-sm-12 col-lg-3"></app-filter>
      <!-- Eof Filter -->

      <div class="col-sm-12 col-lg-9">
        <!-- Pagination -->
        <app-pagination></app-pagination>
        <!-- Eof Pagination -->
        <!-- Cloth -->
        <div class="cloth-row row justify-content-around mt-50">
          <div class="cloth-col col-lg-3 col-sm-4 px-0">
            <div class="card">
              <img class="card-img" src="/assets/img/sample.jpg" alt="Card image">
              <div class="card-img-overlay">
                <div class="row">
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-left">
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                  <div class="col-6 bg-white d-flex align-items-center justify-content-center">
                    <span class="cloth-price">Price $15</span>
                  </div>
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-right">
                      <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="cloth-col col-lg-3 col-sm-4 px-0">
            <div class="card">
              <img class="card-img" src="/assets/img/sample.jpg" alt="Card image">
              <div class="card-img-overlay">
                <div class="row">
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-left">
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                  <div class="col-6 bg-white d-flex align-items-center justify-content-center">
                    <span class="cloth-price">Price $15</span>
                  </div>
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-right">
                      <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="cloth-col col-lg-3 d-none d-lg-flex px-0">
            <div class="card">
              <img class="card-img" src="/assets/img/sample.jpg" alt="Card image">
              <div class="card-img-overlay">
                <div class="row">
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-left">
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                  <div class="col-6 bg-white d-flex align-items-center justify-content-center">
                    <span class="cloth-price">Price $15</span>
                  </div>
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-right">
                      <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="cloth-row row justify-content-around mt-50">
          <div class="cloth-col col-lg-3 col-sm-4 px-0">
            <div class="card">
              <img class="card-img" src="/assets/img/sample.jpg" alt="Card image">
              <div class="card-img-overlay">
                <div class="row">
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-left">
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                  <div class="col-6 bg-white d-flex align-items-center justify-content-center">
                    <span class="cloth-price">Price $15</span>
                  </div>
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-right">
                      <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="cloth-col col-lg-3 col-sm-4 px-0">
            <div class="card">
              <img class="card-img" src="/assets/img/sample.jpg" alt="Card image">
              <div class="card-img-overlay">
                <div class="row">
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-left">
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                  <div class="col-6 bg-white d-flex align-items-center justify-content-center">
                    <span class="cloth-price">Price $15</span>
                  </div>
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-right">
                      <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="cloth-col col-lg-3 d-none d-lg-flex px-0">
            <div class="card">
              <img class="card-img" src="/assets/img/sample.jpg" alt="Card image">
              <div class="card-img-overlay">
                <div class="row">
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-left">
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                  <div class="col-6 bg-white d-flex align-items-center justify-content-center">
                    <span class="cloth-price">Price $15</span>
                  </div>
                  <div class="col-3 card-img-overlay-info-bar bg-white">
                    <div class="rounded-circle bg-light text-right">
                      <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Eof Cloth -->
      </div>
    </div>
  </div>


</section>
